.blur {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.p {
  text-align: center;
  padding: 0, 10px;
  font-size: 1.25em;
}

.data {
  box-sizing: border-box;
  width: 14.66%;
  margin: 1%;
  padding: 1%;
  display: inline-block;
}

@media (max-width: 800px) {
  .data {
    display: block;
    width: 80%;
    margin: 20px auto;
  }
}
