.h1 {
  color: white;
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 3em;
  margin: auto;
}

.numbers {
  color: white;
  display: inline-block;
  padding: 10px;
}

.timeContainer {
  text-align: center;
  font-size: 4em;
}
.mainInfo {
  position: relative;
  top: 40%;
}

@media (max-width: 800px) {
  .h1 {
    width: 80%;
    font-size: 2em;
  }
  .mainInfo {
    top: 20%;
  }
}
